@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("AddError", "Error", FormMethod.Get, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="row">
    </div>
}
}

